<%- include layouts/header.ejs %>
    <div class="container">

      <h1><%= title %></h1>

      <div class="jumbotron">
        <p class="lead">Somos una iniciativa desarrollada por la maestria en UNIR que brinda educación virtual con el objetivo de generar oportunidades y otorgar conocimiento especializado de forma dinámica e innovadora.</p>
        <hr class="my-4">
        <p>Nuestra meta es democratizar la educación no tradicional en el Perú y promover el aprendizaje por objetivos, a través de una herramienta accesible, innovadora y pionera.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        
      </div>

    </div>
<%- include layouts/footer.ejs %>