<%- include layouts/header.ejs %>
    <div class="container">
      <h1><%= title %></h1>
      <div class="card-deck">
        <div class="card">
          <img src="/images/aws.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Servicios en la nube: Azure, AWS y Google Cloud</h5>
            <p class="card-text">Los servicios en la nube y plataformas cloud se han consolidado como la tendencia principal del mercado.
                Las aplicaciones más utilizadas hoy en día han migrado del medio tradicional a la nube, ganando en innovación, reducción de costes y agilidad.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Última actualización hace 3 minutos, Diciembre</small>
          </div>
        </div>
        <div class="card">
          <img src="/images/marketing.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Marketing</h5>
            <p class="card-text">El marketing es un proceso empresarial que consiste en implementar técnicas y estrategias para promover e incrementar las ventas,
                investigar el mercado, detectar necesidades y publicitar los productos y servicios.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Última actualización hace 3 minutos, Diciembre</small>
          </div>
        </div>
        <div class="card">
          <img src="/images/Aiport.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Vuelos</h5>
            <p class="card-text">Con esta tarifa podrás tener toda la flexibilidad para personalizar tu vuelo, eligiendo el asiento que más te guste,
                llevando un bolso de mano, un equipaje de mano y dos maletas de 23 kg en bodega. Con embarque y check-in preferente,
                e incluso cambio de nombre, fecha y destino, si lo necesitaras.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Última actualización hace 3 minutos, Diciembre</small>
          </div>
        </div>
        
      </div>
    <div>
        <br>
    </div>
      <div class="card-deck">
        <div class="card">
          <img src="/images/uber.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Travel Perú</h5>
            <p class="card-text">Es una ciudadela inca ubicada en las alturas de las montañas de los Andes en Perú, sobre el valle del río Urubamba. Se construyó en el siglo XV y luego fue abandonada, y es famosa por sus sofisticadas paredes de piedra seca que combinan enormes bloques sin el uso de un mortero, los edificios fascinantes que se relacionan con las alineaciones astronómicas y sus vistas panorámicas. El uso exacto que tuvo sigue siendo un misterio.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Última actualización hace 3 minutos, Diciembre</small>
          </div>
        </div>
        <div class="card">
          <img src="/images/react.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">React</h5>
            <p class="card-text">Si sientes que la documentación de React va a un ritmo mayor del que te sientes cómodo, mira este resumen de React por Tania Rascia. Introduce los conceptos más importantes de React de una forma más detallada y amigable para los principiantes. Una vez que lo termines, intenta leer la documentación de nuevo.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Última actualización hace 3 minutos, Diciembre</small>
          </div>
        </div>
        <div class="card">
          <img src="/images/programming.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Programación</h5>
            <p class="card-text">El programador escribe líneas de texto o "código" que se distribuyen en diferentes archivos dentro de una carpeta, siguiendo las reglas que le define un lenguaje de programación y que, finalmente, se ejecutan para cumplir una o múltiples funciones. Existen diversos lenguajes de programación: cada uno define un conjunto de reglas y cada uno tiene un propósito en específico, así que, dependiendo del proyecto o tarea que el programador deba ejecutar, se utilizará un lenguaje en específico. </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Última actualización hace 3 minutos, Diciembre</small>
          </div>
        </div>
        
      </div>
      
    </div>
<%- include layouts/footer.ejs %>